<!DOCTYPE html>
<html>
  <head>
    <title>Cemaritan API</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/swagger-ui.css">
    <!--STYLES END-->

    <!-- Auth0 lock script -->
    <script src="https://cdn.auth0.com/js/lock/10.8/lock.min.js"></script>

  </head>

  <body>

    <button type="submit" id="btn-login">Sign In</button>

    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/swagger-ui-bundle.js"></script>
    <script src="/js/dependencies/swagger-ui-standalone-preset.js"></script>
    <!--SCRIPTS END-->

    <script>
      var lock = new Auth0Lock('<%= process.env.REACT_APP_AUTH0CLIENTID %>', '<%= process.env.REACT_APP_AUTH0DOMAIN %>', {
        auth: {
          params: {
            scope: 'openid uid org'
          }
        },
        additionalSignUpFields: [
          {
            name       : "firstName",
            placeholder: "Enter your first name"
          },
          {
            name       : "lastName",
            placeholder: "Enter your last name"
          }
        ]
      });

      var btn_login = document.getElementById('btn-login');
      btn_login.addEventListener('click', function() {
        lock.show();
      });
      lock.on("authenticated", function(authResult) {
        lock.getUserInfo(authResult.accessToken, function(error, profile) {
          if (error) {
            console.log(error);
            return;
          }
          localStorage.setItem('jwt', authResult.idToken);
          localStorage.setItem('profile', JSON.stringify(profile));
        });
      });
    </script>

  </body>
</html>
